
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
auth/
junitReports/
tests/e2e-tests/home-visual.spec.ts-snapshots/SmartBear-App-Home-Page-visual-verification-Home-Smoke-Home-Page-Visual-Regression-1-SmartBear-E2E-Tests---Chrome-darwin.png
